# System folders
[Ll]og/
[Ll]ogs/
[Tt]emp/
[Tt]est/
[Tt]este/
.vscode/
node_modules/

# Compress formats
*.gz
*.7z
*.zip
*.rar
*.tar
*.tar.gz

# System file's
*.log
*.lock
*.error

# Env file
.env

# Ignore test file
test.php

# Ignore all PDF files
*.pdf